<style>
    .image-gallery {overflow: auto; margin-left: -1%!important;}
    .image-gallery li {float: left; display: block; margin: 0 0 1% 1%; width: 19%;}
    .image-gallery li a {text-align: center; text-decoration: none!important; color: #777;}
    .image-gallery li a span {display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; padding: 3px 0;}
    .image-gallery li a img {width: 100%; display: block;}
</style>

<ul class="image-gallery">

    <li><a href="https://www.bilibili.com/video/BV1FZ4y197Lr/" title="Wandering in the Park by Anita (Haozhuo Wu) & Grace Yixuan Lin 林祎萱"><iframe src="//player.bilibili.com/player.html?aid=379641429&bvid=BV1FZ4y197Lr&cid=455978265&page=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe></li>

    <li><a href="https://sunbaiqianqian.github.io/SunBaiqianqian-Portfolio/about/" title="Sugar (Sun Baiqianqian) 孙柏芊芊"><img src="//images.weserv.nl/?url=https://github.com/SunBaiqianqian/SunBaiqianqian-Portfolio/blob/master/assets/selfie.jpg?raw=true&w=300&h=300&output=jpg&q=50&fit=cover" alt="Sugar (Sun Baiqianqian) 孙柏芊芊" title="Sugar (Sun Baiqianqian) 孙柏芊芊" /><span>Sugar (Sun Baiqianqian) 孙柏芊芊</span></a></li>

    <li><iframe src="//player.bilibili.com/player.html?aid=379641429&bvid=BV1FZ4y197Lr&cid=455978265&page=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>
      <a href="https://gracell00l.github.io/prtflo/about/" title="Grace Yixuan Lin 林祎萱"><img src="//images.weserv.nl/?url=https://raw.githubusercontent.com/GraceLL00L/prtflo/7bd51db81b828f7ca880c7ffb8e4bfc381d4fc5d/_posts/M.jpg&w=300&h=300&output=jpg&q=50&fit=cover" alt="Grace Yixuan Lin 林祎萱" title="Grace Yixuan Lin 林祎萱" /><span>Grace Yixuan Lin 林祎萱</span></a>
      </li>
</ul>
