<style>
    .image-gallery {overflow: auto; margin-left: -1%!important;}
    .image-gallery li {float: left; display: block; margin: 0 0 1% 1%; width: 19%;}
    .image-gallery li a {text-align: center; text-decoration: none!important; color: #777;}
    .image-gallery li a span {display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; padding: 3px 0;}
    .image-gallery li a img {width: 100%; display: block;}
</style>

<ul class="image-gallery">

    <li><a href="https://sunbaiqianqian.github.io/SunBaiqianqian-Portfolio/" title="Home of My Ego"><img src="//images.weserv.nl/?url=https://raw.githubusercontent.com/SunBaiqianqian/SunBaiqianqian-Portfolio/master/assets/1520515702726532.jpg&w=300&h=300&output=jpg&q=50&fit=cover" alt="Home of My Ego" title="Home of My Ego" /><span>Home of My Ego</span></a></li>

    <li><a href="https://gracell00l.github.io/prtflo/" title="Compact Urbanism"><img src="//images.weserv.nl/?url=https://raw.githubusercontent.com/GraceLL00L/prtflo/5bd9c9e8421a3b65ebdff6d9ec512bc70f79628e/_posts/sekou-cooke-STUDIO-_2--scaled.jpg&w=300&h=300&output=jpg&q=50&fit=cover" alt="Compact Urbanism" title="Compact Urbanism" /><span>Compact Urbanism</span></a></li>

    <li><a href="https://kyle7914.github.io/2021Fall-studio/" title="Glimmer: Case Study 01"><img src="//images.weserv.nl/?url=https://github.com/KeanMGC/2021fall3yr-studio/blob/master/assets/%E5%B1%8F%E5%B9%95%E5%BF%AB%E7%85%A7%202021-09-22%20%E4%B8%8A%E5%8D%8811.56.22.png?raw=true&w=300&h=300&output=jpg&q=50&fit=cover" alt="Glimmer: Case Study 01" title="Glimmer: Case Study 01" /><span>Glimmer: Case Study 01</span></a></li>

    <li><a href="https://bellaaaaaaa216.github.io/Bella216/" title="Air Translater House"><img src="//images.weserv.nl/?url=https://github.com/bellaaaaaaa216/portfolio/blob/gh-pages/westermeier-07-ok.jpg?raw=true&w=300&h=300&output=jpg&q=50&fit=cover" alt="Air Translater House" title="Air Translater House" /><span>Air Translater House</span></a></li>

    <li><a href="https://nancyuz.github.io/Nancy/2021/09/12/Nancy-2021FallStudio.html" title="Plug-in House"><img src="//images.weserv.nl/?url=https://raw.githubusercontent.com/Nancyuz/Nancy/master/assets/9.8/3.jpg&w=300&h=300&output=jpg&q=50&fit=cover" alt="Plug-in House" title="Plug-in House" /><span>Plug-in House</span></a></li>

    <li><a href="https://shipley-xinyuwang.github.io/3yr-Studio-Flexibility/" title="Flexibility"><img src="//images.weserv.nl/?url=https://raw.githubusercontent.com/Shipley-XinyuWang/3yr-Studio-Flexibility/master/assets/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20210910033012.jpg&w=300&h=300&output=jpg&q=50&fit=cover" alt="Flexibility" title="Flexibility" /><span>Flexibility</span></a></li>

    <li><a href="https://wuhaozhuo.github.io/Anita-Haozhuo-Wu/" title="The Cabin on the Peak"><img src="//images.weserv.nl/?url=https://user-images.githubusercontent.com/85242597/133023761-90ce81a9-32c7-4528-8a69-d0bff4e6a8e0.png?raw=true&w=300&h=300&output=jpg&q=50&fit=cover" alt="The Cabin on the Peak" title="The Cabin on the Peak" /><span>The Cabin on the Peak</span></a></li>

   <li><a href="https://yawenzh.github.io/YZmar/" title="Functional Mobile House"><img src="//images.weserv.nl/?url=https://user-images.githubusercontent.com/90550813/133398839-8e4956d6-1bbb-4838-8f89-d8f1d613bec4.png&w=300&h=300&output=jpg&q=50&fit=cover" alt="Functional Mobile House" title="Functional Mobile House" /><span>Functional Mobile House</span></a></li>

    <li><a href="https://kikili07.github.io/2021studio5/" title="Mundane Home"><img src="//images.weserv.nl/?url=https://images.adsttc.com/media/images/611a/7223/78d5/1f01/657f/6ece/slideshow/aerial-plan.jpg&w=300&h=300&output=jpg&q=50&fit=cover" alt="Mundane Home" title="Mundane Home" /><span>Mundane Home</span></a></li>

    <li><a href="https://vvvvvvvink.github.io/prtflio/" title="Never Constant"><img src="//images.weserv.nl/?url=https://github.com/KeanMGC/2021fall3yr-studio/blob/master/assets/Vink.jpg?raw=true&w=300&h=300&output=jpg&q=50&fit=cover" alt="Never Constant" title="Never Constant" /><span>Never Constant</span></a></li>

    <li><a href="https://jamie666666.github.io/prortfolio/" title="Bubble House"><img src="//images.weserv.nl/?url=https://github.com/KeanMGC/2021fall3yr-studio/blob/master/assets/01-EXTERIOR_%E5%AE%A4%E5%A4%96.jpg?raw=true&w=300&h=300&output=jpg&q=50&fit=cover" alt="Bubble House" title="Bubble House" /><span>Bubble House</span></a></li>

    <li><a href="https://lyh021.github.io/STUDIO-WORK//" title="Custome tiny house 01"><img src="//images.weserv.nl/?url=https://user-images.githubusercontent.com/90523160/133258246-d49df5d5-a561-434e-85c4-6c9f36087964.jpg&w=300&h=300&output=jpg&q=50&fit=cover" alt="Custome tiny house 01" title="Custome tiny house 01" /><span>Custome tiny house 01</span></a></li>

    <li><a href="https://serafina1015.github.io/p-s/" title="Shared and private"><img src="//images.weserv.nl/?url=https://github.com/KeanMGC/2021fall3yr-studio/blob/master/assets/11648333-concrete-drainage-pipes-on-construction-site.jpg?raw=true&w=300&h=300&output=jpg&q=50&fit=cover" alt="Shared and private" title="Shared and private" /><span>Shared and private</span></a></li>

    <li><a href="https://vickeyli.github.io/SparrowsHouse/" title="Sparrows House"><img src="https://github.com/KeanMGC/2021fall3yr-studio/blob/master/assets/01.jpeg?raw=true&w=300&h=300&output=jpg&q=50&fit=cover" alt="Sparrows House" title="Sparrows House" /><span>Sparrows House</span></a></li>

     <li><a href="https://samansachen.github.io/tinyhome/" title="Reptile House"><img src="//images.weserv.nl/?url=https://github.com/KeanMGC/2021fall3yr-studio/blob/master/assets/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20210915010911.jpg?raw=true&w=300&h=300&output=jpg&q=50&fit=cover" alt="Reptile House" title="Reptile House" /><span>Reptile House</span></a></li>

    <li><a href="https://paino77.github.io/littlehouse/" title="House in the mountain"><img src="//images.weserv.nl/?url=https://i.loli.net/2021/09/15/VMYPniKSBhmavHT.jpg&w=300&h=300&output=jpg&q=50&fit=cover" alt="House in the mountain" title="House in the mountain " /><span>House in the mountain</span></a></li>

    <li><a href="https://jfo2fjsdjf.github.io/lbo/" title="clean room"><img src="//images.weserv.nl/?url=https://github.com/KeanMGC/2021fall3yr-studio/blob/master/assets/Luiz1.png?raw=true&w=300&h=300&output=jpg&q=50&fit=cover" alt="clean room" title="clean room" /><span>clean room</span></a></li>

    <li><a href="https://1129782yy.github.io/Robin/" title="A Growing Home"><img src="//images.weserv.nl/?url=https://raw.githubusercontent.com/1129782yy/growing-home/master/assets/Baubotanik.jpg?raw=true&w=300&h=300&output=jpg&q=50&fit=cover" alt="A Growing Home" title="A Growing Home" /><span>A Growing Home</span></a></li>

    <li><a href="https://finn-official.github.io/Finn_Official/" title="A Circle"><img src="//images.weserv.nl/?url=https://user-images.githubusercontent.com/90552927/133401856-dfc36eb1-b174-4277-914e-672d5c6826e0.jpg?raw=true&w=300&h=300&output=jpg&q=50&fit=cover" alt="A Circle" title="A Circle" /><span>A Circle</span></a></li>

    <li><a href="https://eva0211.github.io/Portfolio/" title="Low-carbon Life"><img src="//images.weserv.nl/?url=https://user-images.githubusercontent.com/90520541/135571211-fd14741d-3d2c-4a75-9201-576d0f2606cd.jpg?raw=true&w=300&h=300&output=jpg&q=50&fit=cover" alt="Low-carbon Life" title="Low-carbon Life" /><span>Low-carbon Life</span></a></li>

    <li><a href=" https://jozu0326.github.io/Portfolio/" title="Compact Urban Work Life"><img src="//images.weserv.nl/?url=https://user-images.githubusercontent.com/90549907/135524983-2d2e4034-2dfa-4c14-9159-325f499a1d21.jpg?raw=true&w=300&h=300&output=jpg&q=50&fit=cover" alt="Comapct Urban Work Life" title="Comapct Urban Work Life" /><span>Comapct Urban Work Life</span></a></li>

   <li><a href="https://ollie106.github.io/Sihan-Zhu/" title="Home-a secret garden only belongs to you"><img src="//images.weserv.nl/?url=https://raw.githubusercontent.com/KeanMGC/2021fall3yr-studio/master/assets/PLAN%202.0.png?raw=true&w=300&h=300&output=jpg&q=50&fit=cover" alt="Home-a secret garden only belongs to you" title="Home-a secret garden only belongs to you" /><span>Home-a secret garden only belongs to you</span></a></li>

   <li><a href="https://lucas060.github.io/Lucas/" title="Small green house"><img src="//images.weserv.nl/?url=https://user-images.githubusercontent.com/90553297/134670568-6309d60d-debd-4b10-8fe1-0213e4564625.jpg&w=300&h=300&output=jpg&q=50&fit=cover"  alt="Small green house" title="Small green house" /><span>Small green house</span></a></li>
  
   <li><a href="https://lancehhe.github.io/LanceH." title="Small Sweet Suite"><img src="//images.weserv.nl/?url=https://user-images.githubusercontent.com/90520541/135455290-1857732e-221c-4007-abb3-a6ab40ce578f.png&w=300&h=300&output=jpg&q=50&fit=cover" alt="Small Sweet Suite" title="Small Sweet Suite" /><span>Small Sweet Suite</span></a></li>

    </ul>
